Source: vuurmuur-conf
Priority: optional
Maintainer: Victor Julien <victor@vuurmuur.org>
Section: contrib/net
Standards-Version: 3.6.2.1
Build-Depends: debhelper, libvuurmuur, libtool, gettext, libncurses5-dev

Package: vuurmuur-conf
Architecture: any
Depends: libvuurmuur, vuurmuur, libncurses5
Recommends: iptables, dialog
Description: Iptables frontend. Ncurses GUI, for administration and monitoring.
