Source: libvuurmuur
Priority: optional
Maintainer: Victor Julien <victor@vuurmuur.org>
Section: contrib/net
Standards-Version: 3.6.2.1
Build-Depends: debhelper, libtool

Package: libvuurmuur
Architecture: any
Depends: ${shlibs:Depends}, conntrack
Recommends: vuurmuur, vuurmuur-conf
Conflicts: vuurmuur-plugins
Description: Iptables frontend. Common library and plugins.
