# vuurmuur_conf config file

# Some parts of the Gui have advanced options that can be enabled by.
# pressing F5. If you set this to yes, they will be enabled by default.
ADVANCED_MODE="No"

# The main menu can show status information about various parts of.
# Vuurmuur.
MAINMENU_STATUS="Yes"

# NEWRULE_LOG enables logging for new rules.
NEWRULE_LOG="Yes"

# NEWRULE_LOGLIMIT sets the maximum number of logs per second for new rules.
NEWRULE_LOGLIMIT="30"

# LOGVIEW_BUFSIZE sets the buffersize (in loglines) of the logviewer for
# scrolling back.
LOGVIEW_BUFSIZE="1500"

# The location of the iptrafvol.pl command.
IPTRAFVOL="/usr/bin/iptrafvol.pl"

# end of file
